hwid={{board}}-{{device}}
bootcmd_mfg=gpio clear 1;setenv bootcmd_mfg;mmc partconf 0 1 1 1;mmc write 0x10600000 0 400;mmc partconf 0 1 1 0;setenv splashimage ${loadaddr};env import 0x10540000;saveenv;setenv fdtaddr 0x11100000;run fdtsave;mw.l 02184140 00080003;setenv initrd_high 0xffffffff;setenv otg_mode device;setenv bootargs mmcblk.perdev_minors=16 hwid=${hwid} console=ttymxc0,115200 rdinit=/linuxrc g_mass_storage.stall=0 g_mass_storage.removable=1 g_mass_storage.idVendor=0x066F g_mass_storage.idProduct=0x37FF g_mass_storage.iSerialNumber=;bootm 0x10800000 0x11200000 0x11180000

  end of environment marker (0x00) - do not delete this line!
Changes to this file will be lost the next time MfgToolSetup.bat is run!