append_bootargs=vt.global_cursor_default=0 init=/init video=mxcfb0:dev=lcd,800x480@60,if=RGB24
default_bootargs=setenv bootargs console=ttymxc0,115200 ro panic=1 virgin=${virgin} hwid=${hwid} ${append_bootargs}
video_mode={{videoMode}}
touchpanel=edt-ft5x06
hwid={{board}}-{{device}}
fdtaddr=0x11800000
bootcmd=ext4load mmc 0:1 $fdtaddr /boot/u-boot.scr; source $fdtaddr ;
  end of environment marker (0x00) - do not delete this line!
